html(lang="en")
  head
    base(href='/')
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="/static/app.css")

  body
    #app
      | !{content}
    script(src="/static/vendor.js")
    script(src="/static/app.js")